*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.hide-mobile{
    display: none;
}

:root{
    --primary-color: #4891ff;
    --light-color:#f4f4f6;
    --dark-color:#111;
}

body{
    font-family: 'poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: #0e0d0b;
    color: #dad7d7;
    scroll-behavior: smooth;
}

span {
    color: orange;
}

/* Header section */
header{
    max-width: 1100px;
    margin: 0 auto
}


.header-container{
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0 40px;
}

nav ul {
    background: rgb(36, 33, 33);
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    height: 100vh;
    margin: 0;
    width: 40%;
    text-align: right;
    padding: 2em;
    transform: translateX(100%);
    transition: transform 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);

    li{
        margin: 2em 0;

        &:nth-child(1){
            margin-bottom: 4em;
        }

        a{
            color: #b9b9b9;
            text-decoration: none;
            font-size: 1.5rem;

            &:hover{
                color: rgb(140, 106, 44);
            }
        }
    }
}
.open{
    transform: translateX(0%);
}


a{
    text-decoration: none;
    color: #333;
}
ul{
    list-style: none;
}




/* Hero-section */
.hero-container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    /* background-color: #016ff5; */
    gap: 30px;
}
.hero-detail{
    width: 50%;
    padding: 80px ;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.5s ease-in, transform 1.5s ease-in;
    
}

.hero-detail.fade-in {
    opacity: 1;
    transform: translateY(0);
}
.hero-icons{
    padding: 40px;
    display: flex;
}

.hero-icons a{
    color: hsl(38, 67%, 50%);
    padding: 5px;
    display: flex;
    transition: 1.2ms;
    opacity: 0;
    transform: translateY(50px);
}


/* Keyframes for fade-in and bouncing effect */
@keyframes fadeInBounce {
    0% {
        opacity: 0;
        transform: translateY(50px); /* Start from 50px below */
    }
    50% {
        opacity: 0.5;
        transform: translateY(-20px); /* Bounce upwards */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* Settle in place */
    }
}


.fade-bounce {
    animation: fadeInBounce 1s ease forwards; /* Animation duration of 1 second */
}


.hero-icons .git-icon :hover{
    color: rgb(146, 0, 80);
}

.hero-icons .insta-icon :hover{
    color: rgb(146, 0, 25);
}

.hero-icons .disc-icon :hover{
    color: #71368A;
}.hero-icons .in-icon :hover{
    color: rgb(0, 49, 146);
}.hero-icons .x-icon :hover{
    color: rgb(255, 255, 255);
}

.img-section{
    display: inline-block;
    width: 30%;
    height: 30%;
    text-align: center;
}
.img-section img{
    width: 200px;
    height: 200px;
    padding: 20px;
    border: dotted 2px hsl(38, 67%, 32%);
    border-radius: 50%;
}


/* About Section */

.about-container{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    justify-content: center;
    align-items: center;
}

.heading-about{
    text-align: center;
    margin-bottom: 30px;
}

.about-container p {
    line-height: 1.8;
    margin: 10px 0;
}

.about-container span {
    color: orange;
    font-weight: bold;
}

.btn-abt{
    background-color: rgb(72, 69, 62);
    color: rgb(230, 230, 230);
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in;
}

.btn-abt:hover {
    background-color: rgb(146, 112, 49);
}


@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.about-container p {
    opacity: 0; 
    transform: translateY(50px);
    transition: all 0.7s ease;
}

.about-container p.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Heading and Button Animations */
@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.heading-about {
    animation: slideInLeft 1s ease forwards;
}

.btn-abt {
    animation: pulse 1.5s infinite;
}



/* skills  Section*/

.skills-container {
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 0 15px;
    gap: 20px;
}

h1 {
    margin: 20px, 0;
}
.heading-skills{
    text-align: center;
}

.skill-category {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.skill-category h2 {
    color: #555;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.skill {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.skill span {
    flex: 1;
    color: #666;
}

.skill span:hover {
    color: #4caf50;
    transition: color 0.3s ease;
}

.skill span::after {
    content: attr(data-description);
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    transition: opacity 0.3s ease;
}

.skill span:hover::after {
    visibility: visible;
    opacity: 1;
}

.progress-bar {
    flex: 3;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    height: 8px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.progress {
    background-color: #4caf50;
    height: 100%;
    border-radius: 10px;
    width: 0;
    animation: fillBar 2s ease-out forwards;
}

@keyframes fillBar {
    from { width: 0; }
    to { width: 80%; } /* Adjust per skill level */
}




/* Project section */

.project-container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}


.project {
    max-width: 1100px;
    margin: 0 auto;
    padding: 8px 15px;
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
}

.project-title {
    margin-top: 0;
}

.project-image {
    width: 50%;
    height: 30%;
    border-radius: 8px;
}

.project-description {
    font-size: 1rem;
    margin-bottom: 15px;
}

.project-details h3 {
    margin-top: 15px;
}

.project-details ul {
    list-style: none;
    padding: 0;
}

.project-details li {
    background-color: #eee;
    padding: 5px;
    margin: 5px 0;
    border-radius: 4px;
    display: inline-block;
}

.project-links a {
    display: inline-block;
    background-color: #007ec8;
    color: #fff;
    padding: 10px 15px;
    margin-top: 10px;
    text-decoration: none;
    border-radius: 4px;
}

.project-links a:hover {
    background-color: #4cae4c;
}




.contact-container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 30px 15px;
}

.footer{
    max-width: 1100px;
    margin: 0 auto;
    padding: 8px 15px;
}
.contact-container h3{
    text-align: center;
}

.info-item h2 {
    margin-bottom: 10px;
}

.info-item p {
    margin: 0;
}

.contact-form {
    padding: 5px 0;
    width: 60%;
    margin: 0 auto;
}

.contact-form h4 {
    color: #333;
    text-align: center;
    font-style: italic;
    padding: 0 0 0 15px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin: 10px 0 5px;
    color: #b9b9b9;
}


.contact-form input,
.contact-form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    
}


/* Buttons */
.btn{
    display: inline-block;
    padding: 13px 20px;
    background: var(--light-color);
    color: #333;
    font-weight: 600;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover{
    opacity: 0.8;
}
.btn-primary{
    background: var(--primary-color);
    color: var(--primary-color);
}

.btn-dark{
    background: var(--dark-color);
    color: #fff;
}

.btn-light{
    background: var(--light-color);
    color: #111;
}

.btn-block{
    display: inline-block;
    width: 100%;
}

.hero-content .hero-buttons{
    padding-top: 12px;
}

.contact-form button {
    padding: 10px 15px;
    width: 30%;
    margin: 0 auto;
    border: none;
    background-color: orange;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #4cae4c;
}


/* Text classes */
.text-xxl{
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 600;
    margin: 40px 0 20px;
}

.text-xl{
    font-size: 2.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 40px 0 20px;
}

.text-lg{
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 30px 0 20px;
}

.text-md{
    font-size: 1.2rem;
    line-height: 1.2;
    font-weight: normal;
    margin: 20px 0 10px;
}

.text-sm{
    font-size: 0.9rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 10px 0 5px;
}
.text-center{
    text-align: center;
}

.create{
    padding: 20px, 0px;
}
/* Icons */
.icons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #f7f7f7;
}
.icons a{
    transition: 1.2ms;
}

.icons .git-icon:hover{
    color: rgb(110, 2, 57);
}

.icons .in-icon:hover{
    color: rgb(16, 93, 247);
}

.icons .disc-icon:hover{
    color: #71368A;
}

.icons .insta-icon:hover{
    color: rgb(146, 0, 25);
}

.icons .x-icon:hover{
    color: rgb(81, 157, 198);
}

a .x-icon{
    border: 2px;
    padding-left: 40px;
}
.rights-reserved{
    border-top: solid 1px;
    border-color: rgba(255, 119, 0, 0.507);
}
.rights-reserved p{
    padding-top: 10px;
}
.scroll-up{
    text-align: center;
    padding: 10px 0;
}

.scroll-up a{
    color: rgb(255, 174, 0);
}

@media only screen and (max-width: 768px) {
    body {
      font-size: 14px;
      /* background-color: #007ec8; */


      .header{
        /* background-color: red; */
        padding-top: 15px;
      }


    
    
      /* Hero Section */
    .hero-container{
        flex-direction: column-reverse;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 40px;
    }
    .hero-detail{
        width: 100%;
        padding: 10px 88px 88px 90px;
        justify-content: center;
        /* background-color: #4891ff; */
    }

    .hero-icons{
        display: flex;
        padding: 19px 0;
        justify-content: center;
    }

    .img-section{
        width: 100%;
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }

    .about-container {
        padding: 20px;
        text-align: center;
    }

    }
  
  }

  /* Styles for mobile (screen width 480px or less) */
@media only screen and (max-width: 480px) {
    body {
      font-size: 12px;
    }

    .hero-icons{
        display: flex;
    }

    
  }




  @media (min-width: 798px) {
    .hide-desktop{
        display: none;
    }

    .hide-mobile{
        display: block;
    }

    .header-left{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1em;
    }


    .divider{
        height: 20px;
        width: 2px;
        border-right: 1px solid orange;
    }

    nav ul{
        position: unset;
        background: none;
        display: flex;
        gap: 2em;
        height: auto;
        width: auto;
        transform: translateX(0%);


        li a{
            font-size: 1.2rem;
        }
    }

    .about-container {
        padding: 20px;
        text-align: center;
    }

    .heading-about {
        font-size: 2rem;
    }

    .about-container p {
        font-size: 1rem;
    }
}

@media (min-width:950px){
    
}


@media (min-width: 1200px) {

}