*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hide-mobile{
    display: none;
}

:root {
    --secondary-color: #FF6F61;
    --font-small: 12px;
    --font-medium: 14px;
    --font-large: 16px;
    --padding-small: 0.5rem;
    --padding-medium: 1rem;
    --padding-large: 2rem;
}


body{
    font-family: 'poppins', sans-serif;
    font-size: var(--font-medium);
    line-height: 1.5;
    background:  rgb(31, 34, 35);
    color: #F2F2F2;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

span {
    color: #ff6f61;
}

h3{
    text-transform: uppercase;
}

/* Header section */
header{
    max-width: 1100px;
    margin: 0 auto;
    justify-content: space-between;
}


.header-container{
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0 40px;
}

nav ul {
    background: rgb(36, 33, 33);
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    height: 100dvh;
    margin: 0;
    width: 20%;
    text-align: center;
    padding: 2em;
    transform: translateX(100%);
    transition: transform 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);

    li{
        margin: 2em 0;

        &:nth-child(1){
            text-align: right;
            margin-bottom: 4em;
        }

        a{
            color: #b9b9b9;
            text-decoration: none;
            font-size: 1.5rem;
             &:hover{
                color: #ff6f61;
            }
        }
    }
}

.logo img {
    width: 80px;
    height: 70px;
}


.header-left a {
    text-decoration: none;
    color: var(--text-color);
}



.open{
    transform: translateX(0%);
}


a{
    text-decoration: none;
    color: #333;
}
ul{
    list-style: none;
}

.divider {
    height: 30px;
    width: 2px;
    background-color: var(--text-color);
    margin: 0 15px;
}



/* Hero-section */
.hero-container{
    max-width: 1100px;
    margin: 0 auto;
    /* padding: 15px; */
    display: flex;
    /* background-color: #016ff5; */
    gap: 30px;
}
.hero-detail{
    width: 50%;
    padding: 80px ;
    opacity: 0;
    line-height: 2em;
    transform: translateY(20px);
    transition: opacity 1.5s ease-in, transform 1.5s ease-in;
    text-align: start;
    
}

.hero-detail.fade-in {
    opacity: 1;
    transform: translateY(0);
}
.hero-icons{
    padding: 40, 0, 0, 0px;
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.hero-icons :hover {
    transform: scale(1.4);
}

.hero-icons a{
    color: #FF6F61;
    padding: 5px;
    display: flex;
    transition: 1.2ms;
    opacity: 0;
    transform: translateY(50px);
}

/* Keyframes for fade-in and bouncing effect */
@keyframes fadeInBounce {
    0% {
        opacity: 0;
        transform: translateY(50px); /* Start from 50px below */
    }
    50% {
        opacity: 0.5;
        transform: translateY(-20px); /* Bounce upwards */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* Settle in place */
    }
}


.fade-bounce {
    animation: fadeInBounce 1s ease forwards; /* Animation duration of 1 second */
}


.hero-icons .git-icon :hover{
    color: rgb(146, 0, 80);
}

.hero-icons .insta-icon :hover{
    color: rgb(146, 0, 25);
}

.hero-icons .disc-icon :hover{
    color: #71368A;
}.hero-icons .in-icon :hover{
    color: rgb(0, 49, 146);
}.hero-icons .x-icon :hover{
    color: rgb(255, 255, 255);
}

.img-section{
    display: inline-block;
    width: 30%;
    height: 30%;
    text-align: center;
}
.img-section img{
    width: 200px;
    height: 200px;
    padding: 20px;
    border: dotted 2px #FF6F61;
    border-radius: 50%;
}


/* About Section */
.about{
    max-width: 1100px;
    margin: 0 auto;
    /* background-color: var(--background-color); */
    border-radius: 30px 30px 0px 0px;
    height: 500px;
}

.about-container{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    justify-content: center;
    align-items: center;
    /* background-color: var(--background-color); */
    /* padding: 2rem; */
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}

.heading-about{
    padding-left: 2rem;
    padding-top: 5px;
    text-align: start;
    margin-bottom: 7px;
    font-size: 2rem;
    /* color: var(--primary-color); */
}

.about-container p {
    line-height: 1.8;
    margin: 10px 0;
    /* color: var(--text-color); */
    text-align: left;
    padding: 5px;
}

/* .about-container p:hover {
    color: var(--hover-color);
    transition: color 0.3s ease;
} */

.about-container span {
    color: var(--primary-color);
    font-weight: bold;
}

.btn-abt{
    background-color: var(--primary-color);
    /* color: #fff; */
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in;
}

.btn-abt:hover {
    background-color: var(--hover-color);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}


@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.about-container p {
    opacity: 0; 
    transform: translateY(50px);
    /* transition: all 0.7s ease; */
    transition: opacity 0.7s ease, transform 0.7s ease;
}

.about-container p.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Heading and Button Animations */
@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.heading-about {
    animation: slideInLeft 1s ease forwards;
}

.btn-abt {
    animation: pulse 1.5s infinite;
}



/* skills  Section*/

.skills-wrap{
    padding-bottom: 20px;
    border-radius: 30px 0 30px 0;
}
.skills-container {
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 0 15px;
    gap: 20px;
}

.header-frontend,
.header-tools,
.header-webdesign{
    /* color: #333; */
    margin-bottom: 20px;
    text-align: center;
}

h1 {
    margin: 20px;
}
.heading-skills{
    text-align: center;
}

.skill-category {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.skill-category h2 {
    /* color: #d8d8d8; */
    border-bottom: 2px solid #FF6F61;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.skill {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    /* color: #b9b9b9; */
}

.skill span::after {
    content: attr(data-description);
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background-color: #333;
    
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    transition: opacity 0.3s ease;
}

.skill span:hover::after {
    visibility: visible;
    opacity: 1;
}

/* Project section */
.projects{
    max-width: 1100px;
}
.projects-heading {
    text-align: center;
    margin-bottom: 20px;
}

.project-wrap{
    max-width: 1100px;
    margin: 0 auto;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr;
    padding: 50px;
    gap: 20px;
    text-align: center;
}
.projects {
    max-width: 1100px;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(30px, 1.8fr));
    gap: 60px;
    justify-items: center;
    position: relative;
    z-index: 1;
}

.project-card {
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 20px;
    max-width: 350px;
    text-align: center;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}


.project-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.project-description {
    margin-bottom: 10px;
}

.project-details h4{
    margin-bottom: 10px;
}

/* Neon Glow for Project Titles */
.neon-glow {
    text-transform: uppercase;
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    transition: color 0.3s ease;
}

.neon-glow::before,
.neon-glow::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    opacity: 0.5;
    filter: blur(5px);
    transition: all 0.3s ease;
}

.neon-glow:hover::before {
    box-shadow: 0 0 15px hsl(5, 100%, 67%), 0 0 30px hsl(5, 100%, 65%), 0 0 45px hsl(5, 100%, 69%), 0 0 60px hsl(5, 100%, 69%);
}

/* Neon Link */
.neon-link {
    color: #fff;
    background-color: transparent;
    padding: 10px 20px;
    border: 2px solid #FF6F61;
    border-radius: 4px;
    transition: all 0.3s ease;
    font-weight: bold;
}

.neon-link:hover {
    background-color: #FF6F61;
    /* box-shadow: 0 0 10px hsl(38, 55%, 51%), 0 0 30px hsl(38, 55%, 51%), 0 0 45px hsl(38, 55%, 51%), 0 0 60px hsl(38, 55%, 51%) */
}

/* Project Card with 3D Tilt */
.project-card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.7);
}

/* Project image parallax effect */
.project-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.5s ease;
    will-change: transform;
}

.project-card:hover 
.project-image 
{transform: scale(1.1);}

/* Contact section */
.contact-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    animation: fade-in 1.5s ease-in-out;
}

/* Input fields */
.input-field {
    position: relative;
    width: 100%;
    margin-bottom: 1.5rem;
}

.input-field input,
.input-field textarea {
    width: 100%;
    padding: 1rem 1rem 1rem 35px;
    border-radius: 8px;
    border: 1px solid;
    transition: border-color 0.3s ease-in-out;
    font-size: 16px;
}

.input-field input:focus,
.input-field textarea:focus {
    border-color: #FF6F61;
    box-shadow: 0 0 5px rgba(255, 190, 11, 0.5);
}

/* Submit Button */
.submit-btn {
    background-color: #FF6F61;
    width: 110px;
    align-self: center;
    border: none;
    padding: var(--padding-medium);
    border-radius: 60px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
}

.submit-btn:hover {
    background: hsl(5, 100%, 65%);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}

.submit-btn.loading {
    background-color: #FF6F61;
    cursor: not-allowed;
    opacity: 0.7;
}

/* Animations */
@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Contact Form */
.contact-container h3 {
    text-align: center;
}

.contact-form {
    padding: 5px 0;
    width: 60%;
    margin: 0 auto;
}

.SendMessage{
    width: 100px;
    cursor: pointer;
    background-color: #bfbfbf;
    border-radius: 10px;
    height: 30px;
    margin-left: 40px;
}

.contact-form h4 {
    text-align: center;
    font-style: italic;
    padding: 0 0 0 15px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin: 10px 0 5px;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

/* Footer */
.footer {
    max-width: 1100px;
    margin: 0 auto;
    padding: 2rem;
    background: #333333;
    /* border-radius: 10px 10px 0 0; */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    animation: fade-in 1.5s ease-in-out;
}

/* Icons */
.icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 1rem;
}

.icons a {
    font-size: 1.5rem;
    color: #f7f7f78c;
    transition: transform 0.3s ease, color 0.3s ease;
}

.icons a:hover {
    transform: scale(1.2);
    /* filter: drop-shadow(0 0 10px rgba(255, 190, 11, 0.7)); */
}

/* Hover Colors for Icons */
.icons .git-icon:hover {
    color: #6e0239;
}

.icons .in-icon:hover {
    color: #105df7;
}

.icons .disc-icon:hover {
    color: #71368A;
}

.icons .insta-icon:hover {
    color: #921919;
}

.icons .x-icon:hover {
    color: #519dc6;
}

/* Scroll-up button */
.scroll-up {
    text-align: center;
    margin-bottom: 1rem;
}

.scroll-up a {
    font-size: 2rem;
    color: hsl(5, 100%, 69%);
    transition: color 0.3s ease, transform 0.3s ease;
}

.scroll-up a:hover {
    color: hsl(5, 100%, 65%);
    transform: scale(1.2);
}

/* Rights Reserved */
.rights-reserved {
    border-top: 1px solid #FF6F61;
    margin: 0 auto;
    margin-top: 1.5rem;
    text-align: center;
}

.rights-reserved p {
    font-size: 0.9rem;
    margin-top: 1rem;
    color: #f7f7f78c;
}

/* Keyframes for Fade-in Animation */
@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}



/* Text classes */
.text-xxl{
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 600;
    margin: 40px 0 20px;
}

.text-xl{
    font-size: 2.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 40px 0 20px;
}

.text-lg{
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 30px 0 20px;
}

.text-md{
    font-size: 1.2rem;
    line-height: 1.2;
    font-weight: normal;
    margin: 20px 0 10px;
}

.text-sm{
    font-size: 0.9rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 10px 0 5px;
}
.text-center{
    text-align: center;
}

.create{
    padding: 20px, 0px;
}


/* Small Devices (Mobile Phones) */
@media (max-width: 600px) {
    body {
      font-size: 12px;
    }

    header {
        padding: 0.5rem 1rem;
    }

    .header-left h3 {
        font-size: 1.2rem;
    }

    nav ul {
        width: 60%;
    }

    .hero-container {
        flex-direction: column-reverse;
        display: flex;
        justify-content: center;
        align-items: start;
        text-align: start;
        padding-top: 20px;
        font-size: 14px;
    }

    .hero-detail {
        width: 100%;
        padding: 10px 20px;
        justify-content: center;
    }

    .hero-icons {
        display: flex;
        padding: 20px 0;
        justify-content: start;
    }

    .img-section {
        width: 100%;
        margin-top: 5px;
        display: flex;
        justify-content: center;
    }

    .about {
        background-color: none;
        height: auto;
    }
    .heading-about {
        text-align: start;
        padding-left: 1rem;
    }

    .about-container {
        text-align: start;
        padding-left: 1rem;
        font-size: 14px;
    }

    /* Project section */
    .project-wrap {
        flex-direction: column;
        padding: 10px;
        gap: 20px;
    }

    .project-card {
        max-width: 100%;
        margin: 0 auto;
        padding: 10px;
    }

    .neon-glow {
        font-size: 1.2rem;
    }

    .project-description {
        font-size: 0.85rem;
    }

    .project-image {
        width: 100%;
        height: auto;
    }

    .project-links a {
        padding: 8px 12px;
        font-size: 0.9rem;
    }

    .contact-form {
        width: 90%;
        padding: 1rem;
    }

    .submit-btn {
        width: 100%; /* Full-width button on mobile */
    }

    .icons {
        flex-wrap: wrap;
    }

    .icons a {
        margin: 10px;
    }
}

/* Medium Devices (Tablets) */
@media (min-width: 601px) and (max-width: 1024px) {
    body {
        font-size: 14px;
    }

    header {
        justify-content: space-between;
        padding: 0.5rem 1rem;
    }

    .header-left h3 {
        font-size: 1.2rem;
    }

    nav ul {
        width: 60%;
    }

    .hero-container {
        flex-direction: column-reverse;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 0;
    }

    .hero-detail {
        width: 100%;
        /* padding: 10px 88px; */
        justify-content: center;
    }

    .hero-icons {
        display: flex;
        padding: 20px 0;
        justify-content: start;
    }

    .img-section {
        width: 10%;
        height: auto;
        /* margin-top: 10px; */
        display: flex;
        justify-content: center;
    }

    .about {
        background-color: none;
        height: auto;
    }

    .about-container {
        text-align: start;
        font-size: 14px;
        padding-left: 1rem;
    }

    /* Project section */
    .project-wrap {
        flex-direction: column;
        padding: 20px;
        gap: 30px;
    }

    .project-card {
        max-width: 100%;
        padding: 15px;
    }

    .neon-glow {
        font-size: 1.5rem;
    }

    .project-description {
        font-size: 0.9rem;
    }

    .project-image {
        width: 100%;
        height: auto;
    }

    .project-links a {
        padding: 8px 16px;
    }

    .contact-form {
        width: 90%;
        padding: 1rem;
    }

    .submit-btn {
        width: 100%; /* Full-width button on tablets */
    }
}

@media (min-width: 768px) {
     .skills-container {
        flex-direction: column;
    }

    .hide-desktop {
        display: none;
    }

    .hide-mobile {
        display: block;
    }

    .header-left {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1em;
    }

    .divider {
        height: 20px;
        width: 2px;
        border-right: 1px solid #FF6F61;
    }

    nav ul {
        position: unset;
        background: none;
        display: flex;
        gap: 2em;
        height: auto;
        width: auto;
        transform: translateX(0%);
    }

    nav ul li a {
        font-size: 1.2rem;
    }
    
}

/* Large Devices (Desktops) */
@media (min-width: 1025px) {
    .hide-desktop {
        display: none;
    }

    .hide-mobile {
        display: block;
    }

    .header-left {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1em;
    }

    .divider {
        height: 20px;
        width: 2px;
        border-right: 1px solid #FF6F61;
    }

    nav ul {
        position: unset;
        background: none;
        display: flex;
        gap: 2em;
        height: auto;
        width: auto;
        transform: translateX(0%);
    }

    nav ul li a {
        font-size: 1.2rem;
    }

    .about-container {
        padding: 20px;
        text-align: center;
    }

    .heading-about {
        font-size: 2rem;
        padding-left: 4.3rem;
    }

    .about-container p {
        font-size: 1rem;
    }

    .project-wrap {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .project-card {
        max-width: 500px;
        margin: 0 auto;
    }

    .neon-glow {
        font-size: 2rem;
    }

    .project-description {
        font-size: 1rem;
    }

    .project-image {
        width: 100%;
        height: auto;
    }

    .project-links a {
        padding: 12px 24px;
        font-size: 1rem;
    }
}

